@charset "utf-8";
/* CSS Document */

#topArea {
	background: #ED8B8C;
	text-align: center;
	height: 70px;
	image-resolution: 440px;
}

#sideArea {
	background: #9E8989;
	width: 300px;
	height: 700px;
	float: left;
	padding: 20px;
	

}

#textArea {
	width: 600px;
	float: left;
}

#footerArea {
	text-align: center;
	height: 40px;
	background: #636363;
	
}

.clear{
	clear: both;
}